.infobox {
  background: #E8DCD0;
  width: 100%; 
  z-index: 0;
  display: flex; /* Делает блок контейнером flex */
}

.infobox .left {
  background-color: #E8DCD0;
  height: 100%; 
  width: 40%; /* Левая часть занимает 40% */
  padding-left: 14%;
  padding-top: 3%;
}

.infobox .right {
  height: 100%; 
  width: 60%; /* Правая часть занимает 60% */
  display: flex; 
  flex-direction: column; /* Располагает элементы в столбец */
}

.right h1 {
  font-size: 2.5vw; /* Относительный размер шрифта */
  color: #2e2e35; 
  margin-top: 3%;
  margin-right: 4%;
  font-family: 'intro', sans-serif; 
  text-align: center; /* Дополнительное центрирование текста */
}

.right h2 {
  color: #2e2e35; 
  font-family: 'anonymousprobold', sans-serif; 
  font-size: 2vw; 
  line-height: 1.2; 
  text-align: justify; 
  max-width: 90%; 
  margin-left: 1%;
  margin-top: 2%;
  padding: 0 10px; 
}

.icon_shveya img {
  width: 90%; 
  height: 75%; 
  
}
