{% load static %}
<!-- static loading -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- css loading -->
	<link rel="stylesheet" href="{% static 'Main_page/css/home.css' %}">
	<link rel="stylesheet" href="{% static 'Main_page/css/header.css' %}">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__logo"><img src="{% static 'Main_page/images/logo.png' %}" alt="logo"></div>
				<div class="header__menu menu">
					<button type="button" class="menu__icon icon-menu"><span></span></button>
					<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item"><a href="" class="menu__link">Новини</a></li>
							<li class="menu__item"><a href="" class="menu__link">Навчальний центр</a></li>
							<li class="menu__item"><a href="" class="menu__link">Донат</a></li>
							<div class="menu__lang">
								<button>EN</button>
								<div></div>
								<button>UK</button>
							</div>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</div>
</body>
</html>